.pagination__container {
  ul {
    display: flex;
    align-items: center;
  }

  li {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid orangered;
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    a {
      padding: 6px;
    }

    &:first-child {
      a {
        
        }
        position: relative;
        &:before {
          width: 0;
          height: 0;
          border-top: 100px solid transparent;
          border-right: 200px solid #5cb85c;
          border-bottom: 100px solid transparent;
          position: absolute;
          left: 0;
          top: 0;
      }
      
    }

    &:last-child {
      position: relative;
      &:before {
        content: "";
        background-image: url("../../assets/images/arrow.svg");
        transform: rotate(-90deg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 10px;
        top: 9px;
      }
    }

    &:hover {
      background-color: orangered;
      a {
        color: #fff;
      }
    }
  }

  .pagination {
    
  }
}